<img [src]="User.photo" [alt]="JD" />

<div>
  <p> name: {{ User.name }} <br> first name: {{ User.firstName }}</p>
  <p [hidden]="hidden"> age: {{ User.age }} </p>
  <button (click)="hideButton($event)"> hide age </button>
  <input [(ngModel)]="User.quote">
  <p> {{ User.quote }} </p>

  <ul *appDisplayMovies="showMovies">
    <li appHighlight>Fast and Furious</li>
    <li>Fast and Furious 2</li>
    <li>Fast and Furious 3</li>
    <li>Fast and Furious 4</li>
    <li>Fast and Furious 5</li>
    <li>Fast and Furious 6</li>
    <li>Fast and Furious 7</li>
    <li>Saw</li>
    <li>Saw II</li>
    <li>Saw III</li>
  </ul>
  </div>
  