<img [src]="User.photo" [alt]="JD" />

<div>
  <p> name: {{ User.name }} <br> first name: {{ User.firstName }}</p>
  <p [hidden]="hidden"> age: {{ User.age }} </p>
  <button (click)="hideButton($event)"> hide age </button>
  <input [(ngModel)]="User.quote">
  <p> {{ User.quote }} </p>

  <ul>
    <li appHighlight> {{ showMovies.movie1 }} </li>
    <li> {{ showMovies.movie2 }} </li>
    <li> {{ showMovies.movie3 }} </li>
    <li> {{ showMovies.movie4 }} </li>
    <li> {{ showMovies.movie5 }} </li>
    <li> {{ showMovies.movie6 }} </li>
    <li> {{ showMovies.movie7 }} </li>
    <li> {{ showMovies.movie8 }} </li>
    <li> {{ showMovies.movie9 }} </li>
    <li> {{ showMovies.movie10 }} </li>
  </ul>
  </div>
  